@import "tailwindcss";

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* font-family: 'Gilroy-Regular', sans-serif; */
    /* background-color: rgb(246, 246, 246); */
    /* background-image: linear-gradient(to right, rgb(237, 236, 236), rgb(216, 210, 210), rgb(216, 210, 210)); */
    background-color: rgb(237, 236, 236);

    margin: 0;
    padding: 0;
}

button:not(:disabled){
    cursor: pointer
}

.builder{
    background-color: rgb(238, 235, 235);
}

input, textarea{
    box-shadow: 3px 3px rgb(208, 207, 207) ;
}

.section-title-2 {
    text-align: center;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    margin: 10px 0px;
    font-weight: bold
}

.section-title-3 {
    text-align: center;
    background-color: rgb(159, 158, 158);
    margin: 10px 0px;
    font-weight: bold;
}

.resume {
    width: 210mm;
    min-height: 297mm;
    margin: auto;
    padding: 10mm 16mm;
    background: white;
    box-sizing: border-box;
    border: 1px solid black
}

.resume-card{
    width: 320px;
    height: 337px;
    overflow: hidden;
    border-radius: 8px
}

.resume.card-preview{
    transform: scale(0.404);
    transform-origin: top left
}

.form-section::-webkit-scrollbar, .resume-section::-webkit-scrollbar{
    display: none;
}

@media print {
    body {
        background-color: #fff;
        margin: 0;
    }
    .no-print {
        display: none;
    }
    .a4-print-container {
        width: 210mm;
        height: 297mm;
        padding: 10mm 15mm; 
        box-shadow: none; 
    }
}

::-webkit-scrollbar{
    display: none;
}

.auth-left{
    background-image: linear-gradient(rgb(237,236,236) 1px, transparent 1px), linear-gradient(90deg, rgb(237,236,236) 1px, transparent 1px);
    background-size: 32px 32px;
}


